<a href="https://colab.research.google.com/github/bbenzx/Covid19_Bar-chart-Race/blob/main/covid19_data_manipulate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import neccessary library and mount google drive

In [ ]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

# Read Confirm_case to Dataframe

In [2]:
con_case = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Covid19 Data Manipulation/time_series_covid19_confirmed_global.csv')
con_case

NameError: ignored

# Read Death_case.csv to Dataframe

In [ ]:
death_case = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Covid19 Data Manipulation/time_series_covid19_deaths_global.csv')
death_case

    Province/State      Country/Region        Lat  ...  2/11/21  2/12/21  2/13/21
0              NaN         Afghanistan  33.939110  ...     2419     2424     2427
1              NaN             Albania  41.153300  ...     1517     1531     1543
2              NaN             Algeria  28.033900  ...     2930     2932     2935
3              NaN             Andorra  42.506300  ...      106      106      107
4              NaN              Angola -11.202700  ...      487      490      491
..             ...                 ...        ...  ...      ...      ...      ...
268            NaN             Vietnam  14.058324  ...       35       35       35
269            NaN  West Bank and Gaza  31.952200  ...     1910     1918     1930
270            NaN               Yemen  15.552727  ...      616      616      616
271            NaN              Zambia -13.133897  ...      914      931      940
272            NaN            Zimbabwe -19.015438  ...     1364     1393     1398

[273 rows x 393 columns]

# Read Recovery_case.csv to Dataframe

In [ ]:
recov_case = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Covid19 Data Manipulation/time_series_covid19_recovered_global.csv')
recov_case

    Province/State      Country/Region        Lat  ...  2/11/21  2/12/21  2/13/21
0              NaN         Afghanistan  33.939110  ...    48279    48390    48392
1              NaN             Albania  41.153300  ...    54362    55243    55983
2              NaN             Algeria  28.033900  ...    75436    75628    75816
3              NaN             Andorra  42.506300  ...     9781     9833     9868
4              NaN              Angola -11.202700  ...    18710    18786    18790
..             ...                 ...        ...  ...      ...      ...      ...
253            NaN             Vietnam  14.058324  ...     1528     1529     1529
254            NaN  West Bank and Gaza  31.952200  ...   154727   155362   155950
255            NaN               Yemen  15.552727  ...     1428     1430     1430
256            NaN              Zambia -13.133897  ...    59989    61302    62575
257            NaN            Zimbabwe -19.015438  ...    29471    29959    30089

[258 rows x 393 columns]

# Append new column named "Confirmd_case"

In [ ]:
con_case['file'] = "Confirmed_case"
con_case

    Province/State      Country/Region  ...  2/13/21            file
0              NaN         Afghanistan  ...    55473  Confirmed_case
1              NaN             Albania  ...    91987  Confirmed_case
2              NaN             Algeria  ...   110513  Confirmed_case
3              NaN             Andorra  ...    10463  Confirmed_case
4              NaN              Angola  ...    20329  Confirmed_case
..             ...                 ...  ...      ...             ...
268            NaN             Vietnam  ...     2195  Confirmed_case
269            NaN  West Bank and Gaza  ...   166800  Confirmed_case
270            NaN               Yemen  ...     2136  Confirmed_case
271            NaN              Zambia  ...    68454  Confirmed_case
272            NaN            Zimbabwe  ...    35104  Confirmed_case

[273 rows x 394 columns]

# Append new column named "Death_case"

In [ ]:
death_case['file'] = "Death_case"
death_case

    Province/State      Country/Region        Lat  ...  2/12/21  2/13/21        file
0              NaN         Afghanistan  33.939110  ...     2424     2427  Death_case
1              NaN             Albania  41.153300  ...     1531     1543  Death_case
2              NaN             Algeria  28.033900  ...     2932     2935  Death_case
3              NaN             Andorra  42.506300  ...      106      107  Death_case
4              NaN              Angola -11.202700  ...      490      491  Death_case
..             ...                 ...        ...  ...      ...      ...         ...
268            NaN             Vietnam  14.058324  ...       35       35  Death_case
269            NaN  West Bank and Gaza  31.952200  ...     1918     1930  Death_case
270            NaN               Yemen  15.552727  ...      616      616  Death_case
271            NaN              Zambia -13.133897  ...      931      940  Death_case
272            NaN            Zimbabwe -19.015438  ...     1393     1398  Death_case

[273 rows x 394 columns]

# Append new column named "Recovered_case"

In [ ]:
recov_case['file'] = "Recoverd_case"
recov_case

    Province/State      Country/Region  ...  2/13/21           file
0              NaN         Afghanistan  ...    48392  Recoverd_case
1              NaN             Albania  ...    55983  Recoverd_case
2              NaN             Algeria  ...    75816  Recoverd_case
3              NaN             Andorra  ...     9868  Recoverd_case
4              NaN              Angola  ...    18790  Recoverd_case
..             ...                 ...  ...      ...            ...
253            NaN             Vietnam  ...     1529  Recoverd_case
254            NaN  West Bank and Gaza  ...   155950  Recoverd_case
255            NaN               Yemen  ...     1430  Recoverd_case
256            NaN              Zambia  ...    62575  Recoverd_case
257            NaN            Zimbabwe  ...    30089  Recoverd_case

[258 rows x 394 columns]

# Concatenate all dataframe together

In [ ]:
all_data = pd.concat([con_case, death_case, recov_case], axis = 0)
all_data

    Province/State      Country/Region  ...  2/13/21            file
0              NaN         Afghanistan  ...    55473  Confirmed_case
1              NaN             Albania  ...    91987  Confirmed_case
2              NaN             Algeria  ...   110513  Confirmed_case
3              NaN             Andorra  ...    10463  Confirmed_case
4              NaN              Angola  ...    20329  Confirmed_case
..             ...                 ...  ...      ...             ...
253            NaN             Vietnam  ...     1529   Recoverd_case
254            NaN  West Bank and Gaza  ...   155950   Recoverd_case
255            NaN               Yemen  ...     1430   Recoverd_case
256            NaN              Zambia  ...    62575   Recoverd_case
257            NaN            Zimbabwe  ...    30089   Recoverd_case

[804 rows x 394 columns]

# Read all columns in all_data dataframe

In [ ]:
all_data.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/5/21', '2/6/21', '2/7/21', '2/8/21', '2/9/21', '2/10/21', '2/11/21',
       '2/12/21', '2/13/21', 'file'],
      dtype='object', length=394)

# Drop unwanted columns

In [ ]:
country_lv = all_data.drop(columns=['Province/State','Lat','Long'])
country_lv

         Country/Region  1/22/20  1/23/20  ...  2/12/21  2/13/21            file
0           Afghanistan        0        0  ...    55445    55473  Confirmed_case
1               Albania        0        0  ...    90835    91987  Confirmed_case
2               Algeria        0        0  ...   110303   110513  Confirmed_case
3               Andorra        0        0  ...    10427    10463  Confirmed_case
4                Angola        0        0  ...    20294    20329  Confirmed_case
..                  ...      ...      ...  ...      ...      ...             ...
253             Vietnam        0        0  ...     1529     1529   Recoverd_case
254  West Bank and Gaza        0        0  ...   155362   155950   Recoverd_case
255               Yemen        0        0  ...     1430     1430   Recoverd_case
256              Zambia        0        0  ...    61302    62575   Recoverd_case
257            Zimbabwe        0        0  ...    29959    30089   Recoverd_case

[804 rows x 391 columns]

# Group dataframe by "Country/Region" and "file" and sum all rows which have the same "country/region" and "file"

In [ ]:
country_lv = country_lv.groupby(by = ['Country/Region','file']).sum().reset_index()
country_lv

    Country/Region            file  1/22/20  ...  2/11/21  2/12/21  2/13/21
0      Afghanistan  Confirmed_case        0  ...    55420    55445    55473
1      Afghanistan      Death_case        0  ...     2419     2424     2427
2      Afghanistan   Recoverd_case        0  ...    48279    48390    48392
3          Albania  Confirmed_case        0  ...    89776    90835    91987
4          Albania      Death_case        0  ...     1517     1531     1543
..             ...             ...      ...  ...      ...      ...      ...
571         Zambia      Death_case        0  ...      914      931      940
572         Zambia   Recoverd_case        0  ...    59989    61302    62575
573       Zimbabwe  Confirmed_case        0  ...    34864    35045    35104
574       Zimbabwe      Death_case        0  ...     1364     1393     1398
575       Zimbabwe   Recoverd_case        0  ...    29471    29959    30089

[576 rows x 391 columns]

# Get all columns into list except "Country/Region" and "file"

In [ ]:
select_col_date = [col for col in country_lv.columns if col not in('Country/Region','file')]
select_col_date

['1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20',
 '5/18/20',
 '5/19/20',
 '5/20/20',
 '5/21/20',
 '5/22/20',
 '5/23/20',
 '5/24/20',
 '5/25/20',
 '5/26/20',
 '5/27/20',
 '5/28/20',
 '5/29/20',
 '5/30/20',
 '5/31/20',
 '6/1/20',
 '6/2/20',
 '6/3/20',
 '6/4/20',
 '6/5/20',
 '6/6/20',
 '6/7/20',
 '6/8/20',
 '6/9/20',
 '6/10/20',
 '6/11/20',
 '6/12/20',
 '6/13/20',
 '6/14/20',
 '6/15/20',
 '6/16/20',
 '6/17/20',
 '6/18/20',
 '6/19/20',
 '6/20/20',
 '6/21/20',
 '6/22/20',
 '6/23/20',
 '6/24/20',
 '6/25/20',
 '6/26/20',
 '6/27/20',
 '6/28/20',
 '6/29/20',
 '6/30/20',
 '7/1/20',
 '7/2/20',
 '7/3/20',
 '7/4/20',
 '7/5/20',
 '7/6/20',
 '7/7/20',
 '7/8/20',
 '7/9/20',
 '7/10/20',
 '7/11/20',
 '7/12/20',
 '7/13/20',
 '7/14/20',
 '7/15/20',
 '7/16/20',
 '7/17/20',
 '7/18/20',
 '7/19/20',
 '7/20/20',
 '7/21/20',
 '7/22/20',
 '7/23/20',
 '7/24/20',
 '7/25/20',
 '7/26/20',
 '7/27/20',
 '7/28/20',
 '7/29/20',
 '7/30/20',
 '7/31/20',
 '8/1/20',
 '8/2/20',
 '8/3/20',
 '8/4/20',
 '8/5/20',
 '8/6/20',
 '8/7/20',
 '8/8/20',
 '8/9/20',
 '8/10/20',
 '8/11/20',
 '8/12/20',
 '8/13/20',
 '8/14/20',
 '8/15/20',
 '8/16/20',
 '8/17/20',
 '8/18/20',
 '8/19/20',
 '8/20/20',
 '8/21/20',
 '8/22/20',
 '8/23/20',
 '8/24/20',
 '8/25/20',
 '8/26/20',
 '8/27/20',
 '8/28/20',
 '8/29/20',
 '8/30/20',
 '8/31/20',
 '9/1/20',
 '9/2/20',
 '9/3/20',
 '9/4/20',
 '9/5/20',
 '9/6/20',
 '9/7/20',
 '9/8/20',
 '9/9/20',
 '9/10/20',
 '9/11/20',
 '9/12/20',
 '9/13/20',
 '9/14/20',
 '9/15/20',
 '9/16/20',
 '9/17/20',
 '9/18/20',
 '9/19/20',
 '9/20/20',
 '9/21/20',
 '9/22/20',
 '9/23/20',
 '9/24/20',
 '9/25/20',
 '9/26/20',
 '9/27/20',
 '9/28/20',
 '9/29/20',
 '9/30/20',
 '10/1/20',
 '10/2/20',
 '10/3/20',
 '10/4/20',
 '10/5/20',
 '10/6/20',
 '10/7/20',
 '10/8/20',
 '10/9/20',
 '10/10/20',
 '10/11/20',
 '10/12/20',
 '10/13/20',
 '10/14/20',
 '10/15/20',
 '10/16/20',
 '10/17/20',
 '10/18/20',
 '10/19/20',
 '10/20/20',
 '10/21/20',
 '10/22/20',
 '10/23/20',
 '10/24/20',
 '10/25/20',
 '10/26/20',
 '10/27/20',
 '10/28/20',
 '10/29/20',
 '10/30/20',
 '10/31/20',
 '11/1/20',
 '11/2/20',
 '11/3/20',
 '11/4/20',
 '11/5/20',
 '11/6/20',
 '11/7/20',
 '11/8/20',
 '11/9/20',
 '11/10/20',
 '11/11/20',
 '11/12/20',
 '11/13/20',
 '11/14/20',
 '11/15/20',
 '11/16/20',
 '11/17/20',
 '11/18/20',
 '11/19/20',
 '11/20/20',
 '11/21/20',
 '11/22/20',
 '11/23/20',
 '11/24/20',
 '11/25/20',
 '11/26/20',
 '11/27/20',
 '11/28/20',
 '11/29/20',
 '11/30/20',
 '12/1/20',
 '12/2/20',
 '12/3/20',
 '12/4/20',
 '12/5/20',
 '12/6/20',
 '12/7/20',
 '12/8/20',
 '12/9/20',
 '12/10/20',
 '12/11/20',
 '12/12/20',
 '12/13/20',
 '12/14/20',
 '12/15/20',
 '12/16/20',
 '12/17/20',
 '12/18/20',
 '12/19/20',
 '12/20/20',
 '12/21/20',
 '12/22/20',
 '12/23/20',
 '12/24/20',
 '12/25/20',
 '12/26/20',
 '12/27/20',
 '12/28/20',
 '12/29/20',
 '12/30/20',
 '12/31/20',
 '1/1/21',
 '1/2/21',
 '1/3/21',
 '1/4/21',
 '1/5/21',
 '1/6/21',
 '1/7/21',
 '1/8/21',
 '1/9/21',
 '1/10/21',
 '1/11/21',
 '1/12/21',
 '1/13/21',
 '1/14/21',
 '1/15/21',
 '1/16/21',
 '1/17/21',
 '1/18/21',
 '1/19/21',
 '1/20/21',
 '1/21/21',
 '1/22/21',
 '1/23/21',
 '1/24/21',
 '1/25/21',
 '1/26/21',
 '1/27/21',
 '1/28/21',
 '1/29/21',
 '1/30/21',
 '1/31/21',
 '2/1/21',
 '2/2/21',
 '2/3/21',
 '2/4/21',
 '2/5/21',
 '2/6/21',
 '2/7/21',
 '2/8/21',
 '2/9/21',
 '2/10/21',
 '2/11/21',
 '2/12/21',
 '2/13/21']

# Unpivot

In [ ]:
country_lv_melt = country_lv.melt(id_vars=['Country/Region','file'], value_vars = select_col_date)
country_lv_melt

       Country/Region            file variable  value
0         Afghanistan  Confirmed_case  1/22/20      0
1         Afghanistan      Death_case  1/22/20      0
2         Afghanistan   Recoverd_case  1/22/20      0
3             Albania  Confirmed_case  1/22/20      0
4             Albania      Death_case  1/22/20      0
...               ...             ...      ...    ...
224059         Zambia      Death_case  2/13/21    940
224060         Zambia   Recoverd_case  2/13/21  62575
224061       Zimbabwe  Confirmed_case  2/13/21  35104
224062       Zimbabwe      Death_case  2/13/21   1398
224063       Zimbabwe   Recoverd_case  2/13/21  30089

[224064 rows x 4 columns]

# Rename columns

inplace=True replace on the old dataframe, dont have to create a new one.

In [ ]:
country_lv_melt.rename(columns={'file':'Type_of_case', 'variable':'Date', 'value':'Number_of_case'},inplace=True)
country_lv_melt

       Country/Region    Type_of_case     Date  Number_of_case
0         Afghanistan  Confirmed_case  1/22/20               0
1         Afghanistan      Death_case  1/22/20               0
2         Afghanistan   Recoverd_case  1/22/20               0
3             Albania  Confirmed_case  1/22/20               0
4             Albania      Death_case  1/22/20               0
...               ...             ...      ...             ...
224059         Zambia      Death_case  2/13/21             940
224060         Zambia   Recoverd_case  2/13/21           62575
224061       Zimbabwe  Confirmed_case  2/13/21           35104
224062       Zimbabwe      Death_case  2/13/21            1398
224063       Zimbabwe   Recoverd_case  2/13/21           30089

[224064 rows x 4 columns]

# Get latest data date from List

In [ ]:
latest_date = select_col_date[-1]
latest_date

'2/13/21'

# Replace "/" in date with "."

In [ ]:
latest_date = select_col_date[-1].replace('/','.')
latest_date

'2.13.21'

# Export to Excel file

In [ ]:
country_lv_melt.to_csv(f'/content/drive/MyDrive/Colab Notebooks/Covid19 Data Manipulation/covid19_{latest_date}.csv',index=False)